

.footer-1 {
	  padding: 80px;
  color: #000;
  font-size: 15px; 
  background: #23302d;
  text-align: center; 
  width: 100%;
  height: 50%;
}
  .footer-1 .footer-text {
    color: #898989; }

/*# sourceMappingURL=app.css.map */
