.header{
  overflow: hidden;
  background-size: cover;
  margin: 0;
  .section-logo{
    width: 100%;
    float: left;
    height: 50px;
    background: #23302d;

    line-height: 3.429;
    img{
        padding:10px;
    }
    a{
        color: #fff;
        padding-left:20px;
      }
    .section-menu{

      height: 50px;
      color: #fff;
      float: right;
      line-height: 3.429;
      li{
        display:inline;
      }
    }
    .main-nav{
      a{
        color: #fff;
        padding-left:20px;

        &:hover{
          color:#000;
        }
        &:active{
          color:#000;
        }
      }
    }
  }
}

.about-me{
    width: 100%;
    color: #28594e;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    padding: 50px;
    .internal-1{
      width: 100%;
      color: #000;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-size: 20px;
      padding: 10px;
    }
}

.my-work{
    width: 100%;
    color: #02918d;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    padding: 50px;
    .internal-1{
      width: 100%;
      color: #000;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-size: 20px;
      padding: 10px;
    }
}
.contact-me{
    width: 100%;
    color: #28594e;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    padding: 50px;
    .internal-1{
      width: 100%;
      color: #000;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-size: 20px;
      padding: 10px;
    }
}
.row{
  padding:80px;
  color: #000;
  font-size: 15px;
  .icon-focus{
    width: 35px;
    height: 45px;
    background:url("../images/icons.png");
    background-position: 0 10px;
  }
  .icon-pencil{
    width: 35px;
    height: 45px;
    background:url("../images/icons.png");
    background-position: -38px 10px;

  }
  .icon-conf{
    width: 35px;
    height: 45px;
    background:url("../images/icons.png");
    background-position: -84px 10px;
  }
  .icon-computer{
    width: 35px;
    height: 45px;
    background:url("../images/icons.png");
    background-position: -128px 10px;
  }
  .icon-world{
    width: 35px;
    height: 45px;
    background:url("../images/icons.png");
    background-position: -128px -39px;;
  }
  img{
    padding:0;
    width: 100%;

  }
  input[type="text"], textarea {
    text-align:center;
    background-color : #23302d; 
    border: 0;
    border-bottom: 1px solid #898989;
    outline: 0;
  }
  .text-680{
  width: 680px;
  }
  .text-1024{
  width: 1024px;
  }

}
.section1{
    width: 100%;
    color: #28594e;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    padding: 50px;
    background-color:#d8efe7;
    .internal-1{
      width: 100%;
      color: #000;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-size: 20px;
      padding: 10px;
    }
}
.section2{
  //background: url("../images/bg2.jpg")no-repeat; 
  height: 100%; 
  width: 100%; 
  border: 1px ;
  color:#28594e;
  background-size: cover;
  background-color: #d8efe7;
  padding:0;
  .col-md-6{
    b{
      padding: 50px 0px 0px 100px;
    }
    img{
        width:70%;
      }
    .col-md-6{
      padding: 0;
      margin:0;
    }
  }
}
.section3{
  background: url("../images/bg2.jpg")no-repeat; 
  height: 100%; 
  width: 100%; 
  border: 1px ;
  color:#28594e;
  background-size: cover;
  //background-color: #d8efe7;
  padding:50px;
  .col-md-6{
    img{
      width:70%;
    }
      .main-text{
          color: #28594e;
          display: block;
          margin: 0 auto;
          font-size: 30px;
          padding:100px;
      }
    }
  }
.section4{
  background: url("../images/bg2.jpg")no-repeat; 
  height: 50%; 
  width: 100%; 
  border: 1px ;
  background-size: cover;
  .col-md-6{
    .col-md-6{
      padding: 0;
      margin:0;
    }
  }
}
.section5{
  //background: url("../images/bg2.jpg")no-repeat; 
  height: 100%; 
  width: 100%; 
  border: 1px ;
  color:#28594e;
  background-size: cover;
  background-color: #d8efe7;
  padding:0;
  .col-md-6{
    b{
      padding: 50px 0px 0px 100px;
    }
    img{
        width:50%;
      }
    .text-box{
          color: #28594e;
          display: block;
          margin: 0 auto;
          font-size: 30px;
          padding:0;
      }
    .col-md-6{
      padding: 0;
      margin:0;

    }
  }
}
.main-text{
  color: #28594e;
  display: block;
  margin: 0 auto;
  font-size: 30px;
}

.text-box1{
  font-size: 15px;
}
.img-gallery{
  .col-md-3{
    padding: 0;
    margin:0; 
  }
  .row{
    padding:0;
    margin: 0;
    p{
      color:#fff;
      padding: 10px;
    }
  }
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.footer-1{
  background:#23302d;
  text-align: center;
  .footer-text{
    color:#898989;
  }
}
