.hero1 {
  background: url("../imagenes/hero.jpg") no-repeat;
  height: 100%;
  width: 100%;
  border: 1px;
  background-size: cover; }

.about-me {
  width: 80%;
  color: #02918d;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  padding: 50px; }
  .about-me .internal-1 {
    width: 80%;
    color: #000;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px; }

.my-work {
  width: 80%;
  color: #02918d;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  padding: 50px; }
  .my-work .internal-1 {
    width: 80%;
    color: #000;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px; }

.contact-me {
  width: 80%;
  color: #28594e;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  padding: 50px; }
  .contact-me .internal-1 {
    width: 80%;
    color: #000;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px; }

.row {
  padding: 80px;
  color: #000;
  font-size: 15px; }
  .row .icon-focus {
    width: 35px;
    height: 45px;
    background: url("../images/icons.png");
    background-position: 0 10px; }
  .row .icon-pencil {
    width: 35px;
    height: 45px;
    background: url("../images/icons.png");
    background-position: -38px 10px; }
  .row .icon-conf {
    width: 35px;
    height: 45px;
    background: url("../images/icons.png");
    background-position: -84px 10px; }
  .row .icon-computer {
    width: 35px;
    height: 45px;
    background: url("../images/icons.png");
    background-position: -128px 10px; }
  .row .icon-world {
    width: 35px;
    height: 45px;
    background: url("../images/icons.png");
    background-position: -128px -39px; }
  .row img {
    padding: 0;
    width: 100%; }
  .row input[type="text"], .row textarea {
    text-align: center;
    background-color: #000;
    border: 0;
    border-bottom: 1px solid #898989;
    outline: 0; }
  .row .text-680 {
    width: 680px; }
  .row .text-1024 {
    width: 1024px; }

.section1 {
  width: 100%;
  color: #28594e;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  padding: 50px;
  background-color: #d8efe7; }
  .section1 .internal-1 {
    width: 80%;
    color: #000;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px; }

.section2 {
  height: 100%;
  width: 100%;
  border: 1px;
  color: #28594e;
  background-size: cover;
  background-color: #d8efe7;
  padding: 50px; }
  .section2 .col-md-6 b {
    padding: 50px 0px 0px 100px; }
  .section2 .col-md-6 img {
    width: 70%; }
  .section2 .col-md-6 .col-md-6 {
    padding: 0;
    margin: 0; }

.section3 {
  background: url("../images/bg2.jpg") no-repeat;
  height: 100%;
  width: 100%;
  border: 1px;
  color: #28594e;
  background-size: cover;
  padding: 50px; }
  .section3 .col-md-6 img {
    width: 70%; }
  .section3 .col-md-6 .col-md-6 {
    padding: 0;
    margin: 0; }
    .section3 .col-md-6 .col-md-6 .main-text {
      color: #28594e;
      display: block;
      margin: 0 auto;
      font-size: 30px;
      padding: 100px; }

.main-text {
  color: #28594e;
  display: block;
  margin: 0 auto;
  font-size: 30px; }

.text-box1 {
  font-size: 15px; }

.img-gallery .col-md-3 {
  padding: 0;
  margin: 0; }
.img-gallery .row {
  padding: 0;
  margin: 0; }
  .img-gallery .row p {
    color: #fff;
    padding: 10px; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1); }

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6); }

.hovereffect h2 {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.footer-1 {
  background: #000; }
  .footer-1 .btn-submit-bg {
    background-color: #cfc91d;
    /* Green */
    border: none;
    color: #000;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; }

.section1-1 {
  width: 100%;
  background: yellow;
  margin: 0;
  padding: 40 0;
  background: url("../imagenes/section1.png") no-repeat; }
  .section1-1 .internal {
    width: 100%;
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto; }
    .section1-1 .internal h1 {
      text-transform: uppercase; }
    .section1-1 .internal button {
      background: red;
      color: #fff;
      border: 0;
      padding: 8px 20px;
      border-radius: 5px; }
      .section1-1 .internal button span {
        margin-left: 10px; }

.carrusel .internal-2 {
  overflow: hidden;
  display: block;
  width: 80%;
  background: #ffff00;
  margin: 0 auto; }
  .carrusel .internal-2 .item {
    float: left;
    width: 25%;
    overflow: hidden; }
    .carrusel .internal-2 .item img {
      margin: 20px 5px;
      width: 100%;
      display: block; }

.img-header {
  background: #666; }
  .img-header .internal-i1 {
    width: 100%;
    color: #fff;
    padding: 100px;
    background: url("../imagenes/hero.jpg") no-repeat; }

.polar {
  background: #666; }
  .polar .internal-3 {
    width: 40%;
    color: #fff;
    padding: 50px; }
    .polar .internal-3 h1 {
      text-transform: uppercase; }
    .polar .internal-3 a {
      color: #fff; }

/*# sourceMappingURL=home.css.map */
