.emparejados-correcto>div{
	
    margin-top: 10px;
    border-color: green;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
}
.emparejados-incorrecto>div{
	
    margin-top: 10px;
    border-color: red;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
}